.blog h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-form {
  margin-bottom: 20px;
}

.blog-form .form-group {
  margin-bottom: 10px;
}

.blog-form label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.blog-form input[type="text"],
.blog-form textarea,
.blog-form select {
  width: 100%;
  padding: 5px;
}

.blog-form textarea {
  height: 200px;
}

.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  margin-bottom: 20px;
}

.blog-item h3 {
  margin-top: 0;
}

.update-blog-form {
  margin-top: 10px;
}

.update-blog-form .form-group {
  margin-bottom: 10px;
}

.update-blog-form label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.update-blog-form input[type="text"],
.update-blog-form textarea,
.update-blog-form select {
  width: 100%;
  padding: 5px;
}

.update-blog-form textarea{
  height: 100px;
}

.btn-primary {
  background-color: black;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
