.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: darkslategrey;
  color: #fff;
  font-family: Arial, sans-serif;
}

.logout-container p {
  font-size: 24px;
  margin-bottom: 30px;
}

.logout-container button {
  border: 3px solid #fff;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.logout-container button:hover {
  background-color: white;
  color: #000;
}
