.search-container {
  text-align: center;
}

.search-field, .filter-field {
  margin-bottom: 20px;
}

.label {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.option {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.blog-list {
  text-align: center;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  cursor: pointer;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.list li:last-child {
  margin-bottom: 0;
}
